<html>
	<body>
		<form method="POST" action="/save">
			<label for="some_item">Item name:</label>
			<input type="text" name="some_item" />
			<br />
			<label for="some_amount">Expense:</label>
			<input type="text" name="some_amount" />
			<br />
			<input type="submit" value="Ok!" />
		</form>
	</body>
</html>
